/*BEGIN PS4 Controller Styling*/
.controller.ds4 {
    background: url(White_SkinNo_Buttons.png);
    height: 1468px;
    width: 2023px;
    transform: scale(0.5);
    transform-origin: -1052px -643px;
    left: 425px;
    top: 160px;
}

.ds4.disconnected div {
    display: none;
}

.ds4 .triggers {
    width: 1331px;
    height: 221px;
    position: absolute;
    left: 341px;
    top: 22px;
}

.ds4 .trigger {
    width: 212px;
    height: 100%;
    background: url(Trigger_Pressed.png);
    opacity: 0;
}

.ds4 .trigger.left {
    float: left;
}

.ds4 .trigger.right {
    float: right;
    background-position-x: -223px;
    background-position-y: 216px;
}

.ds4 .bumper {
    width: 265px;
    height: 104px;
    background: url(Bumper.png) no-repeat;
    opacity: 0;
}

.ds4 .bumpers {
    position: absolute;
    width: 1404px;
    height: 117px;
    left: 309px;
    top: 183px;
    transform: scale(0.99);
}

.ds4 .bumper.pressed {
    opacity: 1;
}

.ds4 .bumper.left {
    /* -webkit-transform: rotateY(180deg); */
    /* transform: rotateY(180deg); */
    float: left;
}

.ds4 .bumper.right {
    float: right;
    transform: rotateY(180deg);
}

.ds4 .touchpad {
    width: 57px;
    height: 101px;
    position: absolute;
    left: 422px;
    top: 74px;
}

.ds4 .touchpad.pressed {
    background: url(Touchpad.png) no-repeat center;
}

.ds4 .meta {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 546px;
    bottom: 264px;
}

.ds4 .meta.pressed {
    background: url(Home.png) no-repeat center;
}

.ds4 .p0{
background-position: 0 -6px;
}
.ds4 .p1{
background-position: 0 -28px;
}
.ds4 .p2{
background-position: 0 -49px;
}
.ds4 .p3{
background-position: 0 -70px;
}*/
.ds4 .arrows {
    position: absolute;
    width: 352px;
    height: 46px;
    top: 142px;
    left: 227px;
}

.ds4 .back, .ds4 .start {
    background: url(Select.png);
    width: 60px;
    height: 100px;
    opacity: 0;
}
.ds4 .start {
    position: absolute;
    left: 1174px;
    bottom: -204px;
}
.ds4 .back {
    position: absolute;
    left: 329px;
    bottom: -204px;
}


.ds4 .back.pressed, .ds4 .start.pressed {
    /* background-position-y: -21px; */
    /* margin-top: 2px; */
    opacity: 1;
}

.ds4 .back {
    float: left;
    /* width: 28px; */
}

.ds4 .start {
    float: right;
    /* width: 28px; */
    background-position: 0px 0;
}

.ds4 .abxy {
    position: absolute;
    width: 583px;
    height: 323px;
    top: 437px;
    left: 1487px;
    transform: scale(0.98);
}

.ds4 .button {
    position: absolute;
    width: 70px;
    height: 86px;
    background: url(FaceButtons.png);
}

.ds4 .button.pressed {
    background-position-y: 139px;
    margin-bottom: 0px;
    margin-top: 16px;
    width: 118px;
    height: 120px;
}

.ds4 .a {
    background-position: -11px 0;
    bottom: 25px;
    left: 23px;
    width: 121px;
    height: 136px;
}

.ds4 .b {
    background-position: -9px 0;
    top: 26px;
    right: 309px;
    width: 118px;
    height: 137px;
}

.ds4 .x {
    background-position: -636px 0;
    top: 26px;
    left: -115px;
    width: 120px;
    height: 135px;
}

.ds4 .y {
    background-position: 135px 0;
    left: 24px;
    bottom: 296px;
    width: 132px;
    height: 137px;
}

.ds4 .sticks {
    position: absolute;
    width: 684px;
    height: 105px;
    top: 662px;
    left: 607px;
}

.ds4 .stick {
    position: absolute;
    background: url(Sticks.png);
    height: 235px;
    width: 235px;
}

.ds4 .stick.pressed.left {
    background-position-x: -237px;
}

.ds4 .stick.pressed.right {
    background-position-x: -237px;
}

.ds4 .stick.left {
    top: 0;
    left: 0;
}

.ds4 .stick.right {
    top: calc(100% - 105px);
    left: calc(100% - 105px);
}

.ds4 .dpad {
    position: absolute;
    width: 320px;
    height: 580px;
    top: 321px;
    left: 355px;
    transform: scale(1.01);
}

.ds4 .face {
    background: url(Dpad.png);
    position: absolute;
}

.ds4 .face.up, .ds4 .face.down {
    width: 120px;
    height: 144px;
}

.ds4 .face.left, .ds4 .face.right {
    width: 139px;
    height: 153px;
}

.ds4 .face.up {
    left: 35px;
    top: 53px;
    background-position: -143px 0px;
}

.ds4 .face.down {
    left: 24px;
    bottom: 208px;
    background-position: 0px 0;
}

.ds4 .face.left {
    top: 143px;
    left: -63px;
    background-position: 308px 0;
}

.ds4 .face.right {
    top: 144px;
    right: 72px;
    background-position: 157px 0;
}

.ds4 .face.pressed {
    /* margin-top: 5px; */
    background-position-y: 166px;
}

.ds4.half {
    margin-top: -297px;
}

/*END PS4 Controller Styling*/

.ds4.white .back, .ds4 .start {
    background-image: url(Start.png);
    width: 60px;
    height: 100px;
}

/*END PS4 White Controller Styling*/